---
title: Your Acupuncturist - Jingyu Gu
name: about
---

<div class="row-fluid">
  <div class="span7">
    <h2>Dr. Jingyu Gu</h2>
    <p><%= image_tag 'jingyugu.jpg', :class => 'img-polaroid pull-left add-spacing' %>I am Jingyu Gu, PhD &amp; Lic. Acu. I started acupuncture practice in 1972 in Shanghai by following my taiji and qigong master Rong-gen Ruan. I founded the Taiji &amp; Qigong Meditation Center and Wellspring Acupuncture &amp; Holistic Health Clinic. My patients receive not only standard acupuncture and herbal treatments but also instruction on therapeutic taiji and qigong exercises. This harmonious and holistic treatment paradigm is the highest often hard-to-reach level of therapy in the TCM tradition. I teach, lecture and research on these subjects in the Texas College of TCM as well to acupuncturists for their continuing education.</p>
    <p>In my clinical practice, the diagnosis, treatments and therapeutic recommendations are integrated and follow the principles of internal Qi or life energy. My most effective cases are various pain conditions, allergies, muscles and joint disorders, and emotional disorders. Also effective are other hard-to-treat complex conditions.</p>
    <p>The outcome of many such treatments, as stated in TCM classics, can be 'shen', meaning 'magic', that is, more than ordinarily satisfactory or exceeding the ordinary expectation. The TCM theory traditionally contributes such results to the fact when an acupuncturist's internal energy qi cultivation is genuinely accomplished.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>Qualifications</h4>
    <dl>
      <dt>Years in Practice</dt>
      <dd>6 Years</dd>
      <dt>School</dt>
      <dd>Texas College of Traditional Chinese Medicine</dd>
      <dt>Year Graduated</dt>
      <dd>2005</dd>
      <dt>License No. and State</dt>
      <dd>AC00825 &ndash; Texas</dd>
    </dl>
    <h4>Client Focus</h4>
    <dl>
      <dt>Gender</dt>
      <dd>All</dd>
      <dt>Age</dt>
      <dd>Children (6 to 10)</dd>
      <dd>Adolescents/Teenagers (14 to 19)</dd>
      <dd>Adults</dd>
      <dd>Elders (65+)</dd>
      <dt>Alternative Languages</dt>
      <dd>Mandarin (Chinese)</dd>
      <dd>Shanghainese</dd>
    </dl>
    <h4>Treatment Preferences</h4>
    <dl>
      <dt>Style/Type</dt>
      <dd>Auricular Acupuncture</dd>
      <dd>Five-Element Acupuncture</dd>
      <dd>Traditional Chinese Acupuncture</dd>
      <dd>Treatment Techniques:</dd>
      <dd>Cupping </dd>
      <dd>Electroacupuncture </dd>
      <dd>Gua Sha </dd>
      <dd>Heat </dd>
      <dd>Moxibustion </dd>
      <dd>Qigong </dd>
      <dd>Tai Chi</dd>
      <dd>Qi-Energy Healing</dd>
    </dl>
  </div><!--/span-->
</div><!--/row-->
