---
title: Acupuncture
name: acupuncture
---

<div class="row-fluid">
  <div class="span7">
    <h2>Acupuncture</h2>
    <p><%= image_tag "acu1.png", :class => "img-polaroid pull-left add-spacing" %>Acupuncture is one of the two major treatment modalities in traditional Chinese medicine. It involves the use of thin solid needles that are inserted in the body at specific points. No chemical is used in this process. Side effects are extremely minor when practiced by an experienced acupuncturist.  This process is to release and eliminate blockage in the flow of qi, which in modern terms can include all types of circulatory systems such as blood, lymphatic and electrol-neuro systems. It is used to treat a wide variety of illnesses and health conditions and restore health and prevent illnesses.</p>
    <p><%= image_tag "acu2.png", :class => "img-polaroid pull-right add-spacing" %>The National Institute of Health as well as the World Health Organization (WHO) recommends acupuncture as an effective treatment for over forty medical problems, including allergies, respiratory conditions, gastrointestinal disorders, gynecological problems, nervous conditions, and disorders of the eyes, nose and throat, and childhood illnesses, among others. Wellspring Acupuncture Clinic has experienced an effectiveness of acupuncture on a much wider range of illnesses. The effectively treated conditions range, in addition to the conditions mentioned above, from all kinds of pain conditions, like back injuries and arthritis, to alleviation of side effects of invasive Western treatments like radiation, chemotherapy and surgeries. Acupuncture is not usually used to treat traumatic acute conditions that require surgery or emergency care.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
