---
title: “Acupuncture” Treatment Without Needles
name: acupressure
---

<div class="row-fluid">
  <div class="span7">
    <h2>“Acupuncture” Treatment Without Needles</h2>
    <p><%= image_tag "magnetic2.png", :class => "img-polaroid pull-left add-spacing" %><%= image_tag "magnetic1.png", :class => "img-polaroid pull-right add-spacing" %>The Haci Five Elements magnetic acupressure cupping set is a modern invention based on the theories of traditional Chinese medicine. They are plastic cups topped by suction rubber balls and with magnetic pointy tips in the middle. The cups are often applied with therapeutic herbal cream to enhance the treatment effect. This modality combines 5 therapies; namely, acupuncture and moxibation, acupoint pressure, magnetic treatment, negative pressure and drug osmosis. In addition it also has the effects of regulating biological electromagnetic field, activating enzymes and improving immunity.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
