---
title: Auricular Acupuncture
name: auricular
---

<div class="row-fluid">
  <div class="span7">
    <h2>Auricular Acupuncture</h2>
    <p><%= image_tag "auricular1.png", :class => "img-polaroid pull-left add-spacing" %>Auricular acupuncture, or ear acupuncture as it is more commonly known, is similar to body acupuncture except that the stimulation is only applied to the external ear. The ear acupuncture is applied through a variety of stimulators, including regular small sized acupuncture needles, minute thumb-pin shaped needles, or various pallets of different materials. It treats various health problems and it is particularly effective on many neurological and psychological conditions. “Auricular acupuncture is probably the most developed and best documented, scientifically, of all the microsystems of acupuncture,” proclaimed by the World Health Organization in 1990.</p>
    <p><%= image_tag "auricular2.png", :class => "img-polaroid pull-right add-spacing" %>The theoretical basis is the idea that the ear is a microsystem of the entire body, and particularly that the neurological system is represented on the auricle, the outer portion of the ear. Ailments of the entire body are assumed to be treatable by stimulation of the surface of the ear.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
