---
title: Effective Conditions Treated in the Clinic
name: conditions
---

<div class="row-fluid">
  <div class="span7">
    <h2>Effective Conditions Treated in the Clinic</h2>
    <p>???</p>
  </div><!--/span-->
  <div class="span5">
    <h4></h4>
    <dl>
      <dt>Conditions</dt>
      <dd>Addiction</dd>
      <dd>Allergies</dd>
      <dd>Arthritis</dd>
      <dd>Asthma</dd>
      <dd>Auto/Work/Sports Injuries</dd>
      <dd>Back and Disc Problems</dd>
      <dd>Cancer/Oncology </dd>
      <dd>Chronic Fatigue</dd>
      <dd>Colds, Cough and Flu</dd>
      <dd>Depression/Anxiety</dd>
      <dd>Diabetes</dd>
      <dd>Diet and Nutrition</dd>
      <dd>Digestion or Intestine</dd>
      <dd>Emotional Wellbeing</dd>
      <dd>Eyes</dd>
      <dd>Facial Rejuvenation</dd>
      <dd>Feet</dd>
      <dd>Fibromyalgia</dd>
      <dd>Headache/Migraine</dd>
      <dd>Immune Diseases/Disorders</dd>
      <dd>Infertility</dd>
      <dd>Muscle Aches, Sprains and Strains</dd>
      <dd>Neck and Shoulder Pain</dd>
      <dd>Orthopedics</dd>
      <dd>Wrist Pain/Carpal Tunnel Syndrome</dd>
      <dd>Pain Management</dd>
      <dd>Sexual Dysfunction</dd>
      <dd>Sleep/Insomnia</dd>
      <dd>Stress</dd>
      <dd>Weight Management</dd>
      <dd>Women's Health/ObGyn</dd>
      <dd>Yeast</dd>
    </dl>
  </div><!--/span-->
</div><!--/row-->
