---
title: Contact Us
name: contact
---

<div class="row-fluid">
  <div class="span7">
    <h2>Contact Information</h2>
    <address>
      <strong>Wellspring Acupuncture &amp; Holistic Health Clinic</strong><br>
      1502 W. Koenig Lane<br>
      Austin, Texas 78756<br>
    </address>
    <iframe class="img-polaroid" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1502+West+Koenig+Lane,+Austin,+Texas+78756,+United+States&amp;aq=0&amp;oq=1502+W.+Koenig+Lane,+Austin,+Texas+78756&amp;sll=37.0625,-95.677068&amp;sspn=48.77566,69.609375&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=1502+W+Koenig+Ln,+Austin,+Travis,+Texas+78756&amp;ll=30.331731,-97.732744&amp;spn=0.011112,0.012875&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1502+West+Koenig+Lane,+Austin,+Texas+78756,+United+States&amp;aq=0&amp;oq=1502+W.+Koenig+Lane,+Austin,+Texas+78756&amp;sll=37.0625,-95.677068&amp;sspn=48.77566,69.609375&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=1502+W+Koenig+Ln,+Austin,+Travis,+Texas+78756&amp;ll=30.331731,-97.732744&amp;spn=0.011112,0.012875&amp;z=15&amp;iwloc=A">View Larger Map</a></small>
    <p class="spacing-top">Dr. Jingyu Gu offers a free consultation over the phone or in person.<br>To arrange a time, contact:</p>
    <address class="pull-left add-spacing">
      <strong>Phone</strong><br>
      <%= link_to "(512) 452-5757", "callto:5124525757" %>
    </address>
    <address class="pull-left add-spacing">
      <strong>Fax</strong><br>
      (866) 481-3780
    </address>
    <address>
      <strong>Email</strong><br>
      <%= link_to "jingyugu@yahoo.com", "mailto:jingyugu@yahoo.com" %>
    </address>
  </div><!--/span-->
  <div class="span5">
    <h4>Easy Access</h4>
    <dl>
      <dt>Nearby Towns</dt>
      <dd>Austin, TX</dd>
      <dd>San Marcus, TX</dd>
      <dd>Cedar Park, TX</dd>
      <dd>Manor, TX</dd>
      <dd>Pflugerville, TX</dd>
      <dd>Round Rock, TX</dd>
      <dt>Nearby Counties</dt>
      <dd>Travis</dd>
      <dd>Williamson</dd>
      <dd>Bastrop</dd>
      <dt>Nearby Zips</dt>
      <dd>78613</dd>
      <dd>78653</dd>
      <dd>78660</dd>
      <dd>78664</dd>
      <dd>78756</dd>
    </dl>
  </div><!--/span-->
</div><!--/row-->
