---
title: Cupping
name: cupping
---

<div class="row-fluid">
  <div class="span7">
    <h2>Cupping</h2>
    <p><%= image_tag "cupping1.png", :class => "img-polaroid pull-left add-spacing" %><%= image_tag "cupping2.png", :class => "img-polaroid pull-right add-spacing" %>Cupping is an ancient healing method in Chinese medicine. Cups of various materials under negative pressure, that is, with mild suction power, applied to acupuncture points on the skin. The cups can be made of glass, bamboo, ceramic or plastic. The cupping relaxes the muscle and tissues tension and mobilizes blood flow in order to promote healing. Suction or vacuum is created inside a cup using heat (fire) or mechanical devices (hand or electrical pumps). The cup is then applied to the skin, forming an airtight seal. As the cup sucks the skin, pulling in soft tissues, drawing stagnant blood to the surface to be dispersed, and thus allowing fresh blood into that stagnant area. In Chinese medicinal terms, it eases and clears energy blockage in the area and promotes optimal energy flow. A modern version of the cupping has been invented. The new cups come with a hand vacuum pump that allow the TCM doctor to provide more accurate control of the amount of vacuum pressure to specific areas to be treated.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
