---
title: Treatment Finances
name: finances
---

<div class="row-fluid">
  <div class="span7">
    <h2>Treatment Finances</h2>
    <p>???</p>
  </div><!--/span-->
  <div class="span5">
    <h4>Finances</h4>
    <dl>
      <dt>Average Cost (per session)</dt>
      <dd>$70 - $80</dd>
      <dt>Sliding Scale</dt>
      <dd>Yes</dd>
      <dt>Accept Credit Cards</dt>
      <dd>Yes</dd>
      <dt>Accepted Insurance Plans</dt>
      <dd>BlueCross</dd>
      <dd>BlueShield</dd>
    </dl>
  </div><!--/span-->
</div><!--/row-->
