---
title: Herbal Medicine
name: herbal
---

<div class="row-fluid">
  <div class="span7">
    <h2>Herbal Medicine</h2>
    <p><%= image_tag "herbs1.png", :class => "img-polaroid pull-left add-spacing" %>Herbal Medicine is the other of the two major treatment modalities in traditional Chinese medicine. Currently, around 600 various herbs are commonly used to treat ailments.</p>
    <p>Chinese herbal medicine adopts a highly complex system of diagnosis and formulating groups of medicinal herbs. Herbs range from the nontoxic and rejuvenating, used to support the body's healing system, to highly toxic ones, used to treat severe cases of health conditions.</p>
    <p>Appropriate herbs are grouped together to make specific formulas to treat individual cases in accordance with the symptom and sign presentation of the patient.  The selection of herbs in each formula are based on careful consideration of the herbs’ substances with the correct qi, tastes, yin and yang, as well as the pathogenic factors involved and the meridians the herbs enter. The formulas are delivered currently in several forms, including pills, loose herbs, powders, concentrated extras, as well as tinctures, balm and creams.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
