---
title: Moxibustion
name: moxibustion
---

<div class="row-fluid">
  <div class="span7">
    <h2>Moxibustion</h2>
    <p><%= image_tag "moxa1.png", :class => "img-polaroid pull-left add-spacing" %><%= image_tag "moxa2.png", :class => "img-polaroid pull-right add-spacing" %>Moxibustion is a traditional Chinese Medicine healing method. Moxa wool (processed from mugwort herb) is burned and applied to acupuncture points on the skin to promote healing and good health by invigorating the blood circulation and stimulating the flow of vital energy Qi. The moxa wool can be used in different shapes, for instance, in rolled up form similar to a cigar, or small cone pinched from loose wool and placed directly on the skin.</p>
    <p><%= image_tag "heat.png", :class => "img-polaroid pull-right add-spacing" %>The heat can be applied at each patient’s comfort. One modern variation of this traditional heat treatment is an electro-magnetic, earth-elements and infrared lamp.</p>
  </div><!--/span-->
  <div class="span5">
    <h4>References</h4>
    <ul>
      <li><%= link_to "nccam.nih.gov", "http://nccam.nih.gov/sites/nccam.nih.gov/files/D428.pdf" %></li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
